table.board {
  border: 1px solid black;
  margin: 1em auto;
  font-size: 0.4em;
}

table.board td {
  height: 25px;
  width: 25px;
}

table.board td.filld {
  background-color: #343434;
}

table.board td.figure {
  background-color: red;
}

table.signal-panel {
    margin: 1em 1em;
}

table.signal-panel td {
    width: 120px;
    height: 3em;
    text-align: center;
    border: 1px solid black;
}


h1 {
    margin: 3em auto;
    font-size: 1.9em;
}
